---
layout: home
---

<section class="blue">
  <div class="container-fluid">
    <div class="container cta">
      <div>
        <h1 class="hook">
          Nurture the authentic joy and deepest well-being of your perfectly Autistic child.
        </h1>
        <p class="below-hook">
          Our courses and community help parents and caregivers of Autistic kids support their kids’ deepest sense of well-being, safety, and goodness in a messy, complicated world that isn’t built for them.
        </p>
      </div>
      {% include partials/_divider.html %}
      <div class="rphoto">
        <img src="assets/images/watering.jpg">
      </div>
    </div>
  </div>
</section>

<section class="blockquote">
  <div class="container">
    <blockquote>
      No one expects one person to change the entire world. What you can do is change your world. You can give your child the tools to be a strong self-advocate. You can give your child an example of a true ally by changing the conversation about autism and disability in your own lives and homes.
      <footer>
        <cite>Lei Wiley-Mydske from Sincerely Your Autistic Child</cite>
      </footer>
    </blockquote>
  </div>
</section>

<div class="horizontal section-divider">
  {% include partials/_divider.html %}
</div>

<section class="yellow">
  <div class="container">
    <h2>
      Trainings for parents & caregivers
    </h2>
  </div>
  <div class="container">
    <div class="yellow-content">
      <div class="yellow-copy">
        <p>
          We know by now that trying to change a child’s behavior to make those around them more comfortable often comes at the expense of their well-being.
        </p>
        <p>
          Our courses help you support your child to learn, play, and thrive in their real daily routines, without compromising their authentic well-being. At Learn Play Thrive, we believe that your Autistic child has the right to <strong>JOY, PLAY, ACCEPTANCE, & AUTHENTIC CONNECTION.</strong>
        </p>
        <p>
          Our courses help you get there.
        </p>
        <div class="button-space">
          <a href="/trainings">
            <button class="outline">
              View our trainings
            </button>
          </a>
        </div>
      </div>
      <div class="section-photo">
        <img src="assets/images/kids-at-play.jpg" />
      </div>
    </div>
    <div class="yellow-block">
    </div>
  </div>
</section>

<section class="community-and-email">
  <div class="container">
    <div class="community-section">
      <div class="community-copy">
        <h2>
          Community
        </h2>
        <p>
          Be a part of the most supportive community of parents and caregivers you’ve ever experienced. The Learn Play Thrive Parent community is a space where parents and caregivers come together to share resources, care for each others’ experiences, and have each other’s back. We are actively building a space that says no to ableism and yes to access needs and intersectionality. It’s brand new, and we want you there.
        </p>
        <div>
          <a href="{{site.fb_group}}" target="_blank">
            <button class="outline">
              Join the community
            </button>
          </a>
        </div>
      </div>
      <div></div>
    </div>
    <div class="right-color-splash"></div>
    <div class="horizontal section-divider">
      {% include partials/_divider.html %}
      <div></div>
    </div>
    <div class="email">
      <div class="email-copy">
        <h2>
          Free parent packet on neurodiversity!
        </h2>
        <p>
          Join our email list and we'll email you our packet of handouts for parents on neurodiversity, strengths-based practices, choosing providers, Autistic communication, and more!
        </p>
        {% include partials/_signup.html %}
      </div>
      <div class="rphoto">
        <img src="assets/images/collaborating.jpg">
      </div>
    </div>
  </div>
</section>
