---
layout: collection
collection_type: resources
subtext: |
  Learn neurodiversity-affirming parenting strategies to help your Autistic child thrive in their daily life and routines.
other: hello
image_path: assets/images/planning.jpg
---

{% capture now_unix %}{{ 'now' | date: "%s" }}{% endcapture %}
{%- assign trainings = site.trainings | where: "categories", "resource"  %}
{%- assign articles = site.posts %}
{%- assign resources = trainings | concat: articles | sort: 'date' | reverse -%}

{% for resource in resources %}
  {% if resource.layout == "article" %}
    {% include partials/_article_list.html item=resource %}
  {% endif %}

  {% if resource.layout == "training" %}
    {% capture event_time %}{{ resource.event_time | date: "%s"}}{% endcapture %}
    {% if event_time < now_unix %}
      {% include partials/_training_resource.html item=resource %}
    {% endif %}
  {% endif %}
{% endfor %}
