---
layout: training
year: 2025
permalink: /connect
css_header: connect
title: "Free Workshop: Creating Authentic Social Spaces for Your Neurodivergent Kid"
subtitle: Learn how to support your child’s authentic social inclusion in this free, live 20 minute workshop. <br><br>Recorded replay available
image: /assets/images/kids-at-play.jpg
show: true
expiration_date: false
date: 2025-07-08T20:30Z
begin_date: 2025-06-23T15:00Z
event_time: 2025-07-08T20:30Z
layout_card: /assets/images/trainings/include/instructor.png
card_content: |
  July 8 at 8:30PM EST

  If you are looking for more skills to create inclusive, supportive spaces for your neurodivergent child, this free webinar is for you.  Join Lindsay Teitelbaum to explore how you can use relational skills to create joy, connection, and authentic community for your neurodivergent child.
color: blue
description: This free webinar helps parents of neurodivergent kids learn to create inclusive, supportive social spaces.
header_image: /assets/images/kids-at-play.jpg
sale_link: https://learnplaythrive.thrivecart.com/include
categories: resource
---

<div class="live-event">
  <div class="intro blue-header">
    <div class="content">
      <h1>
        {{ page.title }}
      </h1>
      <h3 class="event-time">
        {{ page.event_time | date: "%B %e, %Y at %l:%M%p ET"}}
        <br/>
        Recorded replay available.
      </h3>

      <p>
        Inclusion is a survival need. Because humans need each other to survive, our nervous systems can register social exclusion as a life or death threat. And as parents, we want our neurodivergent kids to feel safely encircled in authentic, joyful community. But when we’ve never seen these social spaces before, it can be so hard to even know what to advocate for and how to do it.
      </p>

      <p>
        If you are looking for more skills to create inclusive, supportive spaces for your neurodivergent child, this free webinar is for you.  Join Lindsay Teitelbaum, speech therapist and owner of Spirited Play Labs, to explore how you can use relational skills to create joy, connection, and authentic community for your neurodivergent child.
      </p>
    </div>
    <img src="{{ page.header_image }}" alt="Kids playing on a play gym">
  </div>

  <div class="signup-form" >
    {% include_relative connect-july-2025/_form.html %}
    <footer>
       You'll also join our email list for more helpful resources (unsubscribe anytime).
    </footer>
  </div>

  {% include_relative include/_instructor.html %}

  <div class="signup-form" >
    {% include_relative connect-july-2025/_form.html %}
    <footer>
      Fill in your info to watch the replay of this free event. You'll also join our email list for more helpful resources (unsubscribe anytime).
    </footer>
  </div>

  <div class="disclosure">
    <b>Disclosure</b>: Any insight shared by Lindsay during this event is for general informational purposes only. It is not intended to be professional or medical advice.  Please consult with a licensed professional if specific support is needed.
  </div>
</div>
