---
layout: training
year: 2025
permalink: /distress
css_header: distress
title: "Supporting Autistic Kids in Distress: Meltdowns, Shutdowns, & Burnout"
description: In this online course, caregivers of Autistic kids learn low-demand strategies to bring a child back to safety following meltdowns, shutdowns, and burnout.
image: /assets/images/trainings/distress/distress.jpg
show: true
expiration_date: false
begin_date: 2025-04-05T14:30Z
subtitle: Learn low-demand strategies to bring your child back to safety during their greatest moments of overwhelm and distress.
layout_card: /assets/images/trainings/distress/instructor.png
card_content: |
  In this 3.25 hour recorded course, Amanda Diekman will teach you how to nurture your kids in their greatest moments of overwhelm and distress. You’ll learn how to recognize the signs of meltdowns, shutdowns, and burnout and how to bring your child back to safety, without working beyond your own capacity or neglecting your own overwhelm.
color: blue
header_image: /assets/images/trainings/distress/distress.jpg
sale_link: https://learnplaythrive.thrivecart.com/burnout/?coupon=SYACIDEARLY
---

<div class="intro blue-header">
  <div class="content">
    <h1>
      {{ page.title }}
    </h1>
    <p>
      In this 3.25 hour recorded course, Amanda Diekman will teach you how to nurture your kids in their greatest moments of overwhelm and distress. You’ll learn how to recognize the signs of meltdowns, shutdowns, and burnout and how to bring your child back to safety, without working beyond your own capacity or neglecting your own overwhelm.
    </p>

    <p>
      Enroll before April 9th and get the course for <b>$99</b> (that's $30 off) and get one year’s access on demand.
    </p>
    <div class="button-holder">
      <a href="{{page.sale_link}}" target="_blank">
        <button class="outline">
          Get Early Bird Pricing!
        </button>
      </a>
    </div>
  </div>
  <img src="{{ page.header_image }}" alt="Adult and child playing doll house together">
</div>

<div class="signup-form" >
  <div class="text">
    Watch a free, on-demand <b>20 minute webinar</b> plus a <b>bonus Q&A</b> from Amanda Diekman on how to support your child during meltdowns. You'll also get a <b>PDF of her scripts</b> for how to respond to others' comments when your child is in burnout. Fill out the form to join our email list and get immediate access.
  </div>
  <div class="form">
    {% include_relative distress/_form.html %}
  </div>
</div>

<div class="what-youll-learn">
  <div class="content">
    <h2>
      <div>What This Course Covers</div>
    </h2>

    <div class="parts">
      <div class="part">
        <h3>
          <b>Meltdowns</b>
        </h3>
        <p>
          A meltdown is a full body response to feeling overwhelmed. In a meltdown, our kids' nervous systems are in survival mode. They are going to fight for their lives or flee for safety. One way or another, they are physically releasing the energy of their intense emotions. When this happens, what is in our control, and how can we respond to signal safety to their nervous system? How can we turn down the temperature and bring the child back to safety?
        </p>
      </div>

      <div class="part">
        <h3>
          <b>Shutdowns</b>
        </h3>
        <p>
          A shutdown is a type of distress that is often missed. A shutdown is an overwhelmed child, in survival brain, who is frozen. Instead of releasing their energy, it all goes inward. They may seem absent or withdrawn. Or they may become overly compliant. But this is an emotional crisis and a child who desperately needs to feel safe and resolve their sense of overwhelm. How do we help them find themselves again, self-advocate, and find safety without abandoning their inner feelings?
        </p>
      </div>

      <div class="part">
        <h3>
          <b>Burnout</b>
        </h3>
        <p>
          Burnout is a long-term state of physical, emotional, and cognitive exhaustion. It's caused by ongoing stress and unmet needs. When our kids are in burnout, their energy is depleted, they are losing their skills, and they become more sensitive. How do we nurture a child in burnout back to their full, bright, safe selves? How do we prevent Autistic burnout?
        </p>
      </div>

      <div class="part">
        <h3>
          <b>So What Do We Do?</b>
        </h3>
        <p>
          In this training, Amanda guides you through low-demand, effective, gentle strategies that help restore your child’s sense of safety, while nurturing your own nervous system and your own needs. This training will help you connect more deeply with yourself and with your child in the most overwhelmed and afraid moments that you share.
        </p>

        <p>
          Learning from Amanda Deikman is like having a wise friend love you with their words. She speaks straight to the part of you who cares deeply about your child, and she speaks to the part of you that also gets shutdown, overwhelmed, and burned out. She speaks from her experience as a parent, and as someone who has deeply studied the needs of Autistic children in distress. This course will nurture your caregiver heart, and your distressed child.
        </p>
      </div>
    </div>
  </div>
</div>

<hr style="margin: 3rem auto; width: 200px;" />

<div class="for-you-if">
  <div class="content">
    <h2>Supporting Autistic Kids in Distress is for you if:</h2>
    <ul>
      <li>You recognize the signs of shutdowns, meltdowns, or burnout in your Autistic child, or an Autistic child you help care for</li>
      <li>You are open to reducing demands, instead of increasing them, to help instill a felt sense of safety for your child</li>
      <li>You want to learn from someone who has been there, and who cares deeply about your Autistic child’s wellbeing</li>
      <li>You believe that slowing down and showing up for your child when they are in distress is worth it. And you want to do it without moving yourself into overwhelm, too.</li>
    </ul>

    <div class="button-holder">
      <a href="{{page.sale_link}}" target="_blank">
        <button class="outline">
          Get Early Bird Pricing!
        </button>
      </a>
    </div>
  </div>
</div>

<hr style="margin: 3rem auto; width: 200px;" />

{% include_relative distress/_instructor.html %}

<h2>FAQ</h2>

{% include_relative distress/_faqs.html %}

<hr style="margin: 3rem auto; width: 200px;" />


<div class="button-holder">
  <a href="{{ page.sale_link}}" target="_blank">
    <button class="outline">
      Get Early Bird Pricing!
    </button>
  </a>
</div>
