---
layout: training
year: 2025
permalink: /include
css_header: include
title: "Here’s How My Kid Feels Included: Authentic relational skills to create inclusive social spaces for your Autistic child"
description: Learn how to support your child’s inclusion in social spaces as their most authentic self.
image: /assets/images/trainings/include/include.png
show: true
expiration_date: false
begin_date: 2025-07-08T21:00Z
subtitle: Learn how to support your child’s inclusion in social spaces as their most authentic self
layout_card: /assets/images/trainings/include/instructor.png
card_content: |
  Being deeply included in social spaces as our authentic selves is essential to our kids’ well-being. But far too often, it’s nearly impossible to come by for our Autistic or neurodivergent kids. In this two hour recorded course, Lindsay Teitelbaum will teach you how to identify, create, and advocate for truly inclusive social spaces that nurture your neurodivergent child’s deepest social needs. Get early bird pricing on now through July 22nd with coupon code INCLUDE for 10% off.


color: yellow
header_image: /assets/images/trainings/include/include.png
sale_link: https://learnplaythrive.thrivecart.com/include
---

<div class="intro purple-header">
  <div class="content">
    <h1>
      {{ page.title }}
    </h1>
    <p>
      Being deeply included in social spaces as our authentic selves is essential to our kids’ well-being. But far too often, it’s nearly impossible to come by for our Autistic or neurodivergent kids. In this two hour recorded course, Lindsay Teitelbaum will teach you how to identify, create, and advocate for truly inclusive social spaces that nurture your neurodivergent child’s deepest social needs.
    </p>

    <p>
      Enroll for $79  and get on demand access for one year.
    </p>
    <div class="button-holder">
      <a href="{{page.sale_link}}" target="_blank">
        <button class="outline">
          I want in!
        </button>
      </a>
    </div>
  </div>
  <img src="{{ page.header_image }}" alt="A group of 4 young children reaching their hands out to catch bubbles">
</div>

<div class="what-youll-learn">
  <div class="content">
    <div class="parts">
      <div class="part">
        <p>
          Inclusion registers to our bodies as a survival need. It is deeply important to our sense of safety and well-being. But we live in a world that tells our neurodivergent kids over and over that they don't belong.
        </p>

        <p>
          What would it look like to advocate for their authentic inclusion for <i>your child</i> in social spaces? What is the child's responsibility to change versus the culture surrounding the child needing to change? What communication skills do we need to advocate for inclusive spaces, and to help everyone rebuild after ruptures occur?
        </p>

        <p>
          Lindsay Teitelbaum has spent her career building inclusive social spaces for her family, and for her community. If you ask Lindsay, an inclusive space is a space in which:
        </p>
        <ul>
          <li>Your child can express themselves freely</li>
          <li>Adults are willing to learn about your child</li>
          <li>Children are taught to learn about each other and to be inquisitive</li>
          <li>A culture of diversity, openness, and flexibility is cultivated</li>
          <li>Your family's whole team is included</li>
        </ul>

        <p>
          In this two hour, on-demand training, you'll learn how you can co-create these spaces through modeling, relationship building, asking questions, cultivating vulnerability, advocating for your family's needs, and being deeply inquisitive.
        </p>

        <p>
          You’ll learn how to tailor your plan in a way that is individualized to your family’s needs and values. And you’ll gain concrete tools and the confidence to take the next steps towards your child’s authentic social inclusion.
        </p>
      </div>
    </div>
  </div>
</div>

<hr style="margin: 3rem auto; width: 200px;" />

<div class="for-you-if">
  <div class="content">
    <h2>Here’s How My Kid Feels Included is for you if:</h2>
    <ul>
      <li>You are a caregiver or professional supporting a neurodivergent child, and you crave spaces where they can be deeply included</li>
      <li>You are looking to learn more deeply about what inclusive spaces look like, and what steps you can take to help create them</li>
      <li>You want to learn from someone who has been there, and who cares deeply about your Autistic child’s inclusion</li>
    </ul>

    <div class="button-holder">
      <a href="{{page.sale_link}}" target="_blank">
        <button class="outline">
          I'm Ready To Learn
        </button>
      </a>
    </div>
  </div>
</div>


<hr style="margin: 3rem auto; width: 200px;" />


{% include_relative include/_instructor.html %}

<h2>FAQ</h2>

{% include_relative include/_faqs.html %}

<hr style="margin: 3rem auto; width: 200px;" />


<div class="button-holder">
  <a href="{{ page.sale_link}}" target="_blank">
    <button class="outline">
      I want in!
    </button>
  </a>
</div>
