---
layout: training
year: 2025
permalink: /meltdowns
title: "Free Live Workshop <br/>Supporting Autistic Kids during Meltdowns"
description: In this online course, caregivers of Autistic kids learn low-demand strategies to bring a child back to safety following meltdowns, shutdowns, and burnout.
image: /assets/images/trainings/meltdowns/header.png
show: true
expiration_date: 2025-04-05T14:30Z
begin_date: 2025-03-07
event_time: 2025-04-05T14:30Z
subtitle: "Learn practical strategies to bring your kid back to safety"
layout_card: /assets/images/trainings/distress/instructor.png
card_content: |
  Saturday, April 5th at 11:30AM PT/2:30PM ET<br/>30 minutes. Recorded replay available.

  When your Autistic kid is in meltdown, what is in your control, and how can you respond to signal safety to their nervous system? In this free, live session, you'll learn a mindset shift and safety planning strategies to help you manage aggressive meltdowns in a way that helps bring your kid back to safety, without overextending your own nervous system.
color: blue
header_image: /assets/images/trainings/meltdowns/header.png
sale_link: https://learnplaythrive.thrivecart.com/burnout/
---

<div class="live-event">
  <div class="intro blue-header">
    <div class="content">
      <h1>
        {{ page.title }}
      </h1>
      <h3 class="event-time">
        {{ page.event_time | date: "%B %e, %Y at %l:%M%p ET"}}
        <br/>
        Recorded replay available.
      </h3>
      <p>
        A meltdown is a full body response to feeling overwhelmed. In a meltdown, our kids' nervous systems are in survival mode. They are going to fight for their lives or flee for safety. One way or another, they are physically releasing the energy of their intense emotions. When this happens, what is in our control, and how can we respond to signal safety to their nervous system? How can we turn down the temperature and bring the child back to safety?
      </p>

      <p>
        Join Amanda Diekman in a free, live session to learn a mindset shift and safety planning strategies to help you manage aggressive meltdowns in a way that helps bring your kid back to safety, without overextending your own nervous system.
      </p>
    </div>
    <img src="{{ page.header_image }}" alt="Adult and child playing doll house together">
  </div>

  <div class="signup-form" >

    {% include_relative meltdowns-april-2025/_form.html %}
    <footer>
      Fill in your info to join the free event. We'll send the replay when it's over! You'll also join our email list for more helpful resources (unsubscribe anytime).
    </footer>
  </div>

  {% include_relative distress/_instructor.html %}

  <div class="signup-form" >
    {% include_relative meltdowns-april-2025/_form.html %}
    <footer>
      Fill in your info to join the free event. We'll send the replay when it's over! You'll also join our email list for more helpful resources (unsubscribe anytime).
    </footer>
  </div>
</div>
