---
layout: training
year: 2025
permalink: /sensory
css_header: sensory
title: "Sensory Processing Crash Course for Parents: Affirming Supports for Daily Life"
description: In this online course for parents, you’ll learn affirming ways to reduce sensory processing distress for your Autistic child from occupational therapist Laura Petix.
image: /assets/images/trainings/sensory/sensory.jpg
show: true
expiration_date: false
begin_date: 2025-05-07T14:30Z
subtitle: Create easy-to-implement, affirming routines and strategies to reduce sensory distress for your child.
layout_card: /assets/images/trainings/sensory/instructor.png
card_content: |
  When your child has sensory differences, daily life can feel tough. Laura Petix (also known as The OT Butterfly) has been there both as an OT and as a parent. In this course, you’ll learn how to identify your child’s specific sensory processing patterns. Then you’ll learn how to reduce your child's sensory distress during daily routines and how to increase their joyful participation in the things that matter most.

color: yellow
header_image: /assets/images/trainings/sensory/header2.jpg
sale_link: https://learnplaythrive.thrivecart.com/sensory
---

<div class="intro yellow-header">
  <div class="content">
    <h1>
      {{ page.title }}
    </h1>
    <p>
      In this 1.5 hour hour recorded course, Laura Petix will teach you how to support your child to move through daily routines with less sensory distress. You’ll learn how to recognize and understand your child’s patterns of sensory processing, and then you’ll learn practical, effective, concrete ways to reduce their distress during daily routines and increase their joyful participation in the activities that matter most.
    </p>

    <p>
      Enroll for $59 and get one year’s access on demand.
    </p>
    <div class="button-holder">
      <a href="{{page.sale_link}}" target="_blank">
        <button class="outline">
          I want in!
        </button>
      </a>
    </div>
  </div>
  <img src="{{ page.header_image }}" alt="Adult and child lying on the floor together holding octopus plushies">
</div>

<div class="signup-form" >
  <div class="text">
    Want to watch the replay of a parent Q&A session on sensory processing with Laura Petix for free? Fill out the form for immediate access! We’ll also add you to our parent email list for more helpful resources.
  </div>
  <div class="form">
    {% include_relative sensory/_form.html %}
  </div>
</div>

<div class="what-youll-learn">
  <div class="content">
    <h2>
      <div>Does Your Child’s Sensory Processing Impact their Daily Life?</div>
    </h2>

    <div class="parts">
      <div class="part">
        <h3>
          <b>Let’s talk about your child’s INTERNAL SENSES:</b>
        </h3>
        <div class="card-row-2">
          <div class="card yellow">
            <div class="title">Vestibular</div>
            <p>
              Maybe your child is fearful of swings, escalators, and theme parks. Maybe tipping their head back to rinse the shampoo out feels scary to them and causes a meltdown.
            </p>

            <p>
              Or they are constantly moving fast, taking big risks at on the playground or getting in trouble for not sitting still in the classroom.
            </p>
          </div>

          <div class="card blue">
            <div class="title">Interoception</div>
            <p>
              Maybe your kid doesn’t hear the signs from inside of their body that they need to use the bathroom or eat until the signal is so loud it’s an emergency.
            </p>

            <p>
              Or perhaps they notice and report every little ache, every throb, and they tell you about it all day long.
            </p>
          </div>
        </div>

        <div class="card-row">
          <div class="card purple">
            <div class="title">Proprioception</div>
            <p>
              Maybe your kid is constantly leaning or propping their body up on something (or someone!). And they need extra time and support in order to learn a new motor skill, like tying shoes, or zipping, or fastening, jumping jacks, using utensils, putting clothes on, anything that requires some motor coordination
            </p>

            <p>
              You may have a kid who we describe as 'not knowing their own strength' because they're often unintentionally injuring themselves or other kid. They are described as “clumsy,” breaking objects and bumping into others. breaking objects, and they might be described as being 'clumsy'.
            </p>

            <p>
              Perhaps you have a kid who has a constant need to chew, squeeze, or bite things.
            </p>
          </div>
        </div>
      </div>

      <div class="part">
        <h3>
          <b>Let’s talk about your child’s EXTERNAL SENSES:</b>
        </h3>

        <div class="card-row-2">
          <div class="card blue">
            <div class="title">Auditory</div>
            <p>
              Does it seem like your child has a hard time understanding the words you say to them, especially if there are other sounds happening at the same time?
            </p>

            <p>
              Or maybe they have frequent meltdowns when the environment is loud, or even after they’ve lef the loud environment. Places like public restrooms, music classes, theme parks, grocery stores, and restaurants may distress your child.
            </p>

            <p>
              You may have a child who copes with loud environments by engaging an auditory stimming to drown out the sounds.
            </p>
          </div>
          <div class="card">
            <div class="title">Visual</div>
            <p>
              Does your child struggle to learn letters, shapes, and directions (forward/ backward / left / right)?
            </p>

            <p>
              You may have a child who enjoys looking at spinning objects or very specific shadows or patterns on toys, and they might stare at it for long periods of time.
            </p>

            <p>
              You might have a child who becomes overwhelmed or has a hard time focusing on the task in front of them when they are in more busy or cluttered environments with different objects and people moving in the background or in the periphery. And you might have a child who becomes more overstimulated or overwhelmed or fearful, or maybe they blink a lot or complain of headaches when they're in environments with bright lights or the bright sun.
            </p>
          </div>
        </div>
        <div class="card-row-2">
          <div class="card purple">
            <div class="title">Tactile</div>
            <p>
              Do you have a kid who wants to grab, touch and explore everything with their hands?
            </p>

            <p>
              Or maybe you have a child who becomes distressed by the sensation of their clothes, their toothbrush, sunscreen, and their hairbrush. They don’t want to walk in the sand, do sensory play, or touch their food.
            </p>
          </div>
          <div class="card blue">
            <div class="title">Taste & smell</div>
            <p>
              Does your child seek out strong flavors and smells? Or are they often distressed by them, making eating challenging?
            </p>
          </div>
        </div>
      </div>

      <div class="part">
        <h2 style="font-size: 3rem;">
          <b>So what can you do?</b>
        </h2>
        <p>
          <b>All of these are ways that sensory processing may impact your child in their daily life.</b> And this course is all about affirming, practical ways you can support them to move through their daily routines in a way that helps them feel safe and regulated.
        </p>

        <p>
         The strategies in this course aren't unnecessarily complex, specialized, or hard to integrate into your life. And they aren't intended to change your child’s sensory system. Instead, we’ll teach you how to adapt your routines in a way that is supportive for your child’s sensory processing needs, how to prepare your child for challenging moments, and how to accommodate their needs in a way that is manageable, supportive, and effective.
        </p>

        <p>
          Ready for less stress and more joy? We’ve got you.
        </p>
      </div>
    </div>
  </div>
</div>

<hr style="margin: 3rem auto; width: 200px;" />


{% include_relative sensory/_instructor.html %}

<h2>FAQ</h2>

{% include_relative sensory/_faqs.html %}

<hr style="margin: 3rem auto; width: 200px;" />


<div class="button-holder">
  <a href="{{ page.sale_link}}" target="_blank">
    <button class="outline">
      I want in!
    </button>
  </a>
</div>
