---
layout: training
year: 2025
permalink: /sensoryqa
title: "Free 1 Hour Recording: Supporting Your Child's Sensory Processing Needs in Daily Life"
description: Learn how to support your Autistic child's sensory processing needs in a neurodiversity-affirming way in the recording of a live Q&A with occupational therapist Laura Petix.
image: /assets/images/trainings/sensory/header.jpg
show: false
expiration_date: 2025-05-07T21:30Z
begin_date: 2025-04-10
event_time: 2025-05-07T20:30Z
subtitle: "Join us for a live Q&A with Laura Petix, OTR/L on May 7th at 8:30PM EST. Recorded replay available!"
layout_card: /assets/images/trainings/sensory/instructor.png
card_content: |
  Sensory processing differences can make daily life tough for your kid, and for you as a caregiver. There's so much confusing information out there about the best way to support your child's sensory processing needs. In this live Q&A, occupational therapist Laura Petix will share concrete answers to your burning questions about how to support your child’s sensory processing needs in a way that is supportive, affirming, and effective at reducing their child’s distress.
color: blue
header_image: /assets/images/trainings/sensory/header.jpg
sale_link: https://learnplaythrive.thrivecart.com/
---

<div class="live-event">
  <div class="intro blue-header">
    <div class="content">
      <h1>
        {{ page.title }}
      </h1>
      <h3 class="event-time">
        {{ page.event_time | date: "%B %e, %Y at %l:%M%p ET"}}
        <br/>
        Watch the replay!
      </h3>

      <p>
        Sensory processing differences can make daily life tough for your kid and for you as a caregiver. There's so much confusing information out there about the best way to support your child's sensory processing needs.
      </p>

      <p>
        Occupational therapist Laura Petix (<a href="https://instagram.com/theotbutterfly" target="_BLANK" >"The OT Butterfly"</a>) has been there as a parent, and has dedicated her career as an OT to helping others navigate their kids' sensory processing needs in a way that is supportive, affirming, and effective at reducing their child's distress.
      </p>

      <p>Watch the recording of a live Q&A with Laura to ask your most pressing questions about supporting sensory processing needs during daily life. When you sign up you’ll have the chance to submit your questions in advance in case you miss the live event!
      </p>
    </div>
    <img src="{{ page.header_image }}" alt="Child playing in a ball pit indoors with noise reducing headphones">
  </div>

  <div class="signup-form" >
    {% include_relative sensory/_form.html %}
    <footer>
       You'll also join our email list for more helpful resources (unsubscribe anytime).
    </footer>
  </div>

  {% include_relative sensory/_instructor.html %}

  <div class="signup-form" >
    {% include_relative sensory/_form.html %}
    <footer>
      Fill in your info to watch the replay of this free event. You'll also join our email list for more helpful resources (unsubscribe anytime).
    </footer>
  </div>

  <div class="disclosure">
    <b>Disclosure</b>: Any insight shared by Laura during this event is for general informational purposes only. It is not intended to be professional or medical advice.  Please consult with a licensed professional if specific support is needed.
  </div>
</div>
