---
layout: summit
year: 2024
permalink: /summit
title: The Learn Play Thrive Neurodiversity Summit for Caregivers
description: Free trainings for parents of Autistic kids from some of the strongest voices in neurodiversity-affirming practice in the fields of occupational therapy, speech therapy, medicine, and more.
image: /assets/images/trainings/summit-2024/summit.png
show: false
title: The Learn Play Thrive Neurodiversity Summit for Caregivers
subtitle: Strengths-based strategies to sip over your coffee break
layout_card: /assets/images/trainings/summit-2024/card.png
card_content: |
  For two weeks, we’ll share strategies for neurodiversity-affirming parenting that you can learn on a 20 minute coffee break (or a tea break late at night after the kids are asleep!).
color: blue
header_image: /assets/images/trainings/summit-2024/writing.jpg
speakers:
  -
    title: I’m Not Getting Dressed!
    subtitle: Empowering everyday strategies for sensory sensitive kids
    file: _laura-petix.html
    authors:
      -
        name: Laura Petix
        pronouns: she/her
        credentials: OTR/L
        headshot: /assets/images/trainings/summit-2024/laura-petix.png

  -
    title: When Everything Feels Like a Threat
    subtitle: Supporting Autistic PDAers to feel deeply safe
    file: _casey-ehrlich.html
    authors:
      -
        name: Casey Ehrlich
        pronouns: she/her
        credentials: PhD
        headshot: /assets/images/trainings/summit-2024/casey-ehrlich.png
  -
    title: But I’m Not Hungry & Don’t Need to Pee!
    subtitle: Helping your child feel the signals from inside of their body
    file: _kim-clairy-and-kelly-mahler.html
    authors:
      -
        name: Kim Clairy
        pronouns: she/her
        credentials: OTR/L
        headshot: /assets/images/trainings/summit-2024/kim-clairy.png
      -
        name: Kelly Mahler
        pronouns: she/her
        credentials: OTR/L
        headshot: /assets/images/trainings/summit-2024/kelly-mahler.png
  -
    title: I Want to Deeply Know My Non-Speaking Kid
    subtitle: A stress-free parents’ guide to supporting AAC learning for <i>any</i> child
    file: _karina-saechao.html
    authors:
      -
        name: Karina Saechao
        pronouns: she/her
        credentials: CCC-SLP
        headshot: /assets/images/trainings/summit-2024/karina-saechao.png
  -
    title: Should We Limit Screens?
    subtitle: A shame-free, science-driven approach for your Autistic child
    file: _amanda-diekman.html
    authors:
      -
        name: Amanda Diekman
        pronouns: she/her
        credentials:
        headshot: /assets/images/trainings/summit-2024/amanda-diekman.png
  -
    title: When Picture Schedules Don’t Work
    subtitle:  A strengths-based approach to schedules for kids who really aren’t into pictures
    file: _meg-ferrell.html
    authors:
      -
        name: Meg Ferrell
        pronouns: she/her
        credentials: OTR/L
        headshot: /assets/images/trainings/summit-2024/meg-ferrell.png
  -
    title: Here’s How My Kid Feels Included
    subtitle:  Authentic advocacy skills to create inclusive social spaces for your Autistic child
    file: _lindsay-teitelbaum.html
    authors:
      -
        name: Lindsay Teitelbaum
        pronouns: she/her
        credentials: M.S.
        headshot: /assets/images/trainings/summit-2024/lindsay-teitelbaum.png
  -
    title: Taking Health Needs Seriously
    subtitle: Health issues affecting Autistic kids and teens, and how they often get missed
    file: _mel-houser.html
    authors:
      -
        name: Mel Houser
        pronouns: she/her
        credentials: M.D.
        headshot: /assets/images/trainings/summit-2024/mel-houser.png
  -
    title: Why Do They Need AAC When They Already Talk?
    subtitle: How AAC access for kids who also speak creates opportunities for connection and rest
    file: _alyssa-hillary-zisk.html
    authors:
      -
        name: Alyssa Hillary Zisk
        pronouns: they/them
        credentials: PhD
        headshot: /assets/images/trainings/summit-2024/alyssa-hillary-zisk.png
---

<div class="how-it-works">
  <div class="content">
    <h2>HOW IT WORKS</h2>
    <p>
      Starting on November 1st, we’ll release one pre-recorded 20-minute interview a day for two weeks. And if you get behind, you’ll have access on-demand for the full month of November.
    </p>

    <p>
      Your presenters are some of the strongest voices in neurodiversity-affirming practice in the fields of occupational therapy, speech therapy, medicine, and more.
    </p>

    <p>
      If you want strategies to help your Autistic child thrive <i>as their most authentic self</i>, settle in. The LPT Parent & Caregiver Summit is where you belong.
    </p>
  </div>
  <div class="sign-up">
    <h2>I want in!</h2>
    <p>
      Fill in your name and email below for free access to the summit for the month of November. We'll also add you to our email list for more helpful parenting strategies. (Unsubscribe anytime.)
    </p>
  </div>
</div>



<h2>YOUR COFFEE BREAK CREW:</h2>

{% for speaker in page.speakers %}
  {% include_relative summit-2024/_speaker.html speaker=speaker %}
{% endfor %}


<div class="for-you-if">
  <div class="content">
    <h2> THIS FREE SUMMIT IS FOR YOU IF</h2>
    <ul>
      <li>You are a parent or caregiver for an Autistic child and care deeply about their felt sense of safety, belonging, and inclusion.</li>
      <li>You want strategies to use in your parenting that are affirming of who your child is, not aimed at changing them.</li>
      <li>You believe (or can imagine) that learning from Autistic adults is one important way to more deeply understand your Autistic child.</li>
      <li>You want to belong to a community of parents and caregivers who don’t see parenting an Autistic child as a burden, nor do they take it on as their identity. You want to connect with other parents who are simply striving to learn how to be on their child’s team in a world that isn’t set up for their Autistic child’s success.</li>
      <li>You can commit to carving out one or more 20-minute chunks of time at some point in the month of November to learn new ways to support your Autistic child.</li>
    </ul>
  </div>
  <div class="sign-up">
    <h2>I want in!</h2>
    <p>
      Fill in your name and email below for free access to the summit for the month of November. We'll also add you to our email list for more helpful parenting strategies. (Unsubscribe anytime.)
    </p>
  </div>
</div>

<h2>FAQ</h2>

{% include_relative summit-2024/_faqs.html %}

<hr style="margin: 3rem auto; width: 200px;" />

<div class="summit-footer">
  <div class="sign-up">
    <h2>I want in!</h2>
    <p>
      Fill in your name and email below for free access to the summit for the month of November. We'll also add you to our email list for more helpful parenting strategies. (Unsubscribe anytime.)
    </p>
  </div>
  <div class="not-quote">
    <p>
      It’s hard to be a parent in this world. And <b>even harder</b> when nothing is set up for the way your child thinks, learns, plays, communicates, and experiences the world.
    </p>
    <p>
      Let us help you create more acceptance, ease, well-being, and inclusion for your Autistic child in their daily life.
    </p>
  </div>
</div>
