<div class="container-fluid">
  <div class="container">
    <div class="social-links">
      <a href="https://www.instagram.com/learnplaythriveparents">
        <img src="{{ 'assets/images/instagram.png' | relative_url }}">
      </a>
      <a href="https://www.facebook.com/learnplaythrive">
        <img src="{{ 'assets/images/facebook.png' | relative_url}}">
      </a>
    </div>
    <div class="land-acknowledgement">Learn Play Thrive is based on occupied Tsalagi land. We strive in an ongoing way through our actions and teachings to seek repair with the original stewards of this land and to promote anti-colonial principles and actions.
    </div>
    <div class="donate-portion">
      We stand against restraint, seclusion, suspension, expulsion, and police involvement in schools. We donate 2% of our sales to <a href="https://livesinthebalance.org/" target="_blank">Lives in the Balance</a>.
    </div>
    <div class="copyright">© Copyright Learn Play Thrive. All rights reserved. | Asheville, NC 28803</div>
    <div class="privacy-policy"><a href="https://www.learnplaythrive.com/privacy-policy">Privacy Policy</a></div>
    <div><span>Are you a professional go <a href="{{site.lpt}}">here</a> instead!</span></div>
  </div>
</div>
