<div class="container-fluid">
  <div class="container">
    <div class="social-links">
      <a href="https://www.instagram.com/learnplaythriveparents">
        <img src="/assets/images/instagram.png">
      </a>
      <a href="https://www.facebook.com/learnplaythrive">
        <img src="/assets/images/facebook.png">
      </a>
    </div>
    <div class="land-acknowledgement">Learn Play Thrive is based on occupied Tsalagi land. We donate $100 per month to organizations supporting Indigenous autonomy.</div>
    <div class="copyright">© Copyright Learn Play Thrive. All rights reserved. | Asheville, NC 28803</div>
    <div class="privacy-policy"><a href="https://www.learnplaythrive.com/privacy-policy">Privacy Policy</a></div>
  </div>
</div>
