<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
<!--[if IE]><link rel="shortcut icon" href="{{ 'assets/images/favicon.png' | prepend: site.baseurl }}"><![endif]-->

<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicon.png' | prepend: site.baseurl }}">

<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
<link rel="icon" sizes="196x196" href="{{ 'assets/images/favicon.png' | prepend: site.baseurl }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light only">
