.yellow-divider-color {
  background: linear-gradient(#FFE75C, #FFD23B);
  box-shadow: 0px 0px 4px rgba(255, 231, 92, 0.75);
}
.blue-divider-color {
  background: linear-gradient(#7AD9F5, #39A2DA);
  box-shadow: 0px 0px 4px rgba(122, 217, 245, 0.75);
}
.purple-divider-color {
  background: linear-gradient(#B07ABC, #8D52A9);
  box-shadow: 0px 0px 4px rgba(176, 122, 188, 0.75);
}

.divider  {
  height:200px;
  width: 30px;

  > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px 0;


  }
  .top {
    @extend .yellow-divider-color;
  }
  .mid {
    @extend .blue-divider-color;
  }
  .bottom {
    @extend .purple-divider-color;
  }
}


.horizontal {
  .divider {
    margin: 0 auto;
    display: flex;
    width: 150px;
    height: 30px;

    > div {
      margin: 0 10px;
    }
  }
}

.blue .divider{
  .top, .bottom {
    @extend .yellow-divider-color;
  }

  .mid {
    @extend .purple-divider-color;
  }
}
