.what-youll-learn, .in-the-community {
  h2 {
    margin-bottom: 2rem;
    text-align: center;
    div {
      border-bottom: 2px solid $blue;
      border-right: 2px solid $blue;
      display: inline-block;
      padding-left: 0.25rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      border-bottom-right-radius: 15px;
    }
  }

  .parts {
// box-shadow: 10px 0px 5px -5px #3698d438;
display: grid;
max-width: 45rem;
margin: 0 auto;

.part {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.part:after {
  display: block;
  content: '';
  background: $purple;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}

.part:last-of-type {
  &:after {
    display: none;
  }
  margin-bottom: 0rem;
}
  }
}

.big-blocks {
  .part {
    .card-row-2 {
      display: grid;

      @media (min-width: $large-rem ) {
        padding: 0rem;
        grid-gap: 2rem;
        grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
      }
    }
    .card-row {
      @media (min-width: $large-rem ) {
        margin-bottom: 2rem;
        width: 100%;
      }
    }

    .card {
      background-color: $yellow;
      font-color: $black;
      padding: 1rem;
      margin-bottom: 2rem;

      border-top-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;


      .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;

        &::after {
          display: block;
          background-size: 150px 10px;
          height: 10px;
          width: 150px;
          background-image: url(/assets/images/purple-squiggle-line.png);
          content: "";
          text-align: center;
        }
      }

      &.purple, &.purple p {
        background-color: $purple;
        color: $white;

        .title::after {
          background-image: url(/assets/images/yellow-squiggle-line.png);
        }
      }



      &.blue, &.blue p {
        background-color: $blue;
        color: $white;

        .title::after {
          background-image: url(/assets/images/yellow-squiggle-line.png);
        }
      }
    }
  }
}

.community .big-blocks {

}
