.collection {
  .page-header {
    display: grid;
    align-items: center;
    padding: 1rem;

    hr {
      background-image: url('/assets/images/purple-squiggle-line.png');
    }

    @media (min-width: $large-rem ) {
      padding: 0rem;
      grid-gap: 2rem;
      grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    }

    @media (min-width: $xlarge-rem) {
      grid-gap: 4rem;
      grid-template-columns: minmax(600px, 1fr) minmax(400px, 1fr);
    }

    .copy {
      @media (min-width: $large-rem ) {
        padding: 1rem;
      }
    }

    .image {
      display: none;
    }

    @media (min-width: $large-rem ) {
      .image {
        display: block;
      }
    }
  }
}

.collection.articles, .collection.trainings {
  a {
    text-decoration: none
  }
}

.collection.articles {
  .page-header {
    // background-color: $light-yellow;
  }

  @mixin reverse {
    .content {
      order: 2;
    }

    .image {
      order: 1;
    }
  }
  
  .collection-item {
    // padding: 1rem;
    display: grid;
    align-items: center;

    @media (min-width: $large-rem ) {
      padding: 0rem;
      grid-gap: 2rem;
      grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
      margin-bottom: 2rem;
    }

    @media (min-width: $xlarge-rem) {
      grid-gap: 4rem;
      grid-template-columns: minmax(600px, 1fr) minmax(400px, 1fr);
    }

    @media (min-width: $small-rem) {
      .content {
        padding: 1rem;
      }
    }
    @include reverse;
  }

  @media (max-width: $small-rem) {
    .image {
      margin-left: -15px;
      margin-right: -15px;
    }
  }


  .collection-item:nth-of-type(2n+1) {
    // @include reverse;
  }

  .collection-item:nth-of-type(4n-3) {
    background-color: $light-yellow;
  }

  .collection-item:nth-of-type(4n-2), .collection-items:nth-of-type(4n) {
    //white
    background-color: $white;
  }

  .collection-item:nth-of-type(4n-1) {
    background-color: $blue;
    color: $white;

    hr {
      background-image: url('/assets/images/yellow-squiggle-line.png')
    }

    h2 a, p a{
      color: $white;
    }

  }

  @media ( max-width: $medium-rem ) {
    .collection-item {
      @include reverse;
    }
  }

}

.collection.trainings {
  .collection-items {
    display: grid;
    gap: 2rem;
    margin: 0 auto;

    @media (min-width: $medium-rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $xlarge-rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .collection-item {
    align-items: center;
    padding: 0px;

    .training-image {

      img {
        border-top-left-radius: var(--pico-border-radius);
        border-top-right-radius: var(--pico-border-radius);
        object-fit: fill;
        width: 600px;
      }
    }

    hr {
      width: 200px;
      margin: var(--pico-typography-spacing-vertical) auto;
    }

    .content {
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;

      h3 {
        margin-bottom: 1rem;
      }

      a {
        display: inline-block;
        color: $white;
      }

      h3 a {
        color: $black;
      }

      button {
        margin: 0 auto;
        display: block;
      }

    }
  }


}
