.collection {
  .page-header {
    display: grid;
    align-items: center;
    padding: 1rem;

    hr {
      background-image: url('/assets/images/purple-squiggle-line.png');
    }

    @media (min-width: $large-rem ) {
      padding: 0rem;
      grid-gap: 2rem;
      grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    }

    @media (min-width: $xlarge-rem) {
      grid-gap: 4rem;
      grid-template-columns: minmax(600px, 1fr) minmax(400px, 1fr);
    }

    .copy {
      @media (min-width: $large-rem ) {
        padding: 1rem;
      }
    }

    .image {
      display: none;
    }

    @media (min-width: $large-rem ) {
      .image {
        display: block;
      }
    }
  }
}

.collection.articles {
  .page-header {
    // background-color: $light-yellow;
  }

  a {
    text-decoration: none
  }

  .collection-item {
    // padding: 1rem;
    display: grid;
    align-items: center;

    @media (min-width: $large-rem ) {
      padding: 0rem;
      grid-gap: 2rem;
      grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
      margin-bottom: 2rem;
    }

    @media (min-width: $xlarge-rem) {
      grid-gap: 4rem;
      grid-template-columns: minmax(600px, 1fr) minmax(400px, 1fr);
    }

    .content {
      @media (min-width: $large-rem ) {
        padding: 1rem;
      }
    }
  }

  @mixin reverse {
    .content {
      order: 2;
    }

    .image {
      order: 1;
    }
  }

  @media (max-width: $small-rem) {
    .image {
      margin-left: -15px;
      margin-right: -15px;
    }
  }


  .collection-item:nth-of-type(2n+1) {
    @include reverse;
  }

  .collection-item:nth-of-type(4n-3) {
    background-color: $light-yellow;
  }

  .collection-item:nth-of-type(4n-2), .collection-items:nth-of-type(4n) {
    //white
    background-color: $white;
  }

  .collection-item:nth-of-type(4n-1) {
    background-color: $blue;
    color: $white;

    hr {
      background-image: url('/assets/images/yellow-squiggle-line.png')
    }

    h2 a, p a{
      color: $white;
    }

  }

  @media ( max-width: $medium-rem ) {
    .content {
      padding: 1rem;
    }

    .collection-item {
      @include reverse;
    }
  }
}
