@import "variables";

nav {
  img {
    max-height: 125px;
  }

  @media (min-width: $large-rem) {
    img {
      max-height: 200px;
    }

    ul menu {

    }

    ul:first-child, ul:last-child {
      flex-grow: 1;
      flex-basis: 0;
    }

    ul:last-child {
      li {
        text-align: right;
        width: 100%;
      }
    }
  }

  ul menu {
    display: none;

    @media (min-width: $medium-rem) {

      display: flex;
      flex-direction: row;
      justify-content: center;
      font-weight: bold;
      margin-block-start: 0;
      padding-inline-start: 0;
      width: 100%;


      li {
        align-self: center;
        list-style-type: none;
        padding-right: 30px;
      }
    }
  }
}
