<div class="speaker container">
  <hgroup>
    <h2>{{speaker.title}}</h2>
    <h3>{{speaker.subtitle}}</h3>
  </hgroup>
  <div class="presenters">
    {% for presenter in speaker.authors %}
      <span>
        {{ presenter.name }} ({{ presenter.pronouns }})
        {% if presenter.credentials %}
          , {{ presenter.credentials }}
        {% endif %}
      </span>
    {% endfor %}
  </div>

  <div class="description" markdown="1">{% include_relative summit-2024/speakers/{{speaker.file}} %}</div>


  {{ speaker }}

</div>
