<div class="container">
  <nav>
    <ul class="menu">
      <menu>
        <li><a href="{{ 'articles' | relative_url }}"><strong>Articles</strong></a></li>
        <li><a href="{{ 'summit' | relative_url}}"><strong>Summit</strong></a></li>
        <li><a href="{{ 'trainings' | relative_url}}"><strong>Trainings</strong></a></li>
        <!-- <li><a href="{{ 'about' | relative_url}}"><strong>About</strong></a></li> -->
      </menu>
    </ul>
    <ul>
      <a href="{{ site.url }}"><img src="{{ site.logo | relative_url}}" /></a>
    </ul>
    <ul>
      <span></span>
    </ul>
  </nav>
</div>
