<div class="container">
  <nav>
    <ul class="menu">
      <menu>
        <li><a href="{{ 'resources' | relative_url }}"><strong>Free Resources</strong></a></li>
        <li><a href="{{ 'trainings' | relative_url}}"><strong>Trainings</strong></a></li>
        <div class="show-on-small">
          <li><a href="{{ 'community' | relative_url}}"><strong>Community</strong></a></li>
        </div>
      </menu>
    </ul>
    <ul>
      <a href="{{ site.url }}"><img src="{{ site.logo | relative_url}}" /></a>
    </ul>
    <ul class="menu">
      <menu>
        <div class="hide-on-small">
          <li><a href="{{ 'community' | relative_url}}"><strong>Community</strong></a></li>
        </div>
      </menu>
    </ul>
  </nav>
</div>
