<div class="container">
  <nav>
    <ul class="menu">
      <menu>
        <li><a href="articles"><strong>Articles</strong></a></li>
        <li><a href="summit"><strong>Summit</strong></a></li>
        <!-- <li><a href="trainings"><strong>Trainings</strong></a></li> -->
        <!-- <li><a href="about"><strong>About</strong></a></li> -->
      </menu>
    </ul>
    <ul>
      <img src="{{site.logo}}" />
    </ul>
    <ul>
      <li class="are-you-a-professional">
          <span>Are you a professional? <br class="small-br" /><a href="{{site.lpt}}" style="text-decoration: underline">Go here instead!</a></span>
      </li>
    </ul>
  </nav>
</div>
