---
layout: default
sale_link: https://learnplaythrive.thrivecart.com/lptp-learning-community/
---
<div class="container community {{page.css_header}}">
  <div class="intro purple-header">
    <div class="content">
      <h1>
        {{ page.title }}
      </h1>

      <h3>
        Please note that registration for this community is closed. Check out <a href="parents.learnplaythrive.com/distress">Amanda's self-paced course</a>
        
        </li>
      </ul>
    </div>
    <img src="{{ page.header_image }}" alt="Three adults having a conversation around a table outdoors">
  </div>

  <div class="in-the-community">
    <div class="content narrow">
      <h3>
        If you’re anything like most parents, you buy online courses and <i>never take them</i>.
      </h3>
      <p>
        There are just too many things happening in daily life. And while you may deeply want to learn the things in the courses you’ve bought so that you can better support your neurodivergent kid... it’s just so hard to prioritize them with everything you have to do in a day.
      </p>

      <p>
        What’s missing for so many of us is <i><u>community</u></i> and <i><u>accountability</u></i>.
      </p>
      <p>
        We're offering that to you and going one step further: <i><u>individualization</u></i>. To your family’s needs.
      </p>
      <p>
        Each quarter, we'll address a different topic in the <b>LPT Caregiver Learning Community</b>.
      </p>
    </div>
    <hr style="margin: 3rem auto; width: 200px;" />

    <div class="content narrow">
      <h3>OUR FALL 2025 OFFERING:</h3>
      <p>
        Because October, November, and December are <b><i>high demand season</i></b> for most families, we are starting with one of our most impactful courses, <b><a href="/distress" target="_BLANK">Supporting Autistic Kids in Distress: Meltdowns, Shutdowns, & Burnout.</a></b> We want you to move through this holiday season with a clear sense of how to protect your nervous system and your child's. We want you protected with scripts, strategies, and community so that you can feel confident and supported in every choice you make.
      </p>
      <p><b>YOUR MEMBERSHIP INCLUDES:</b></p>
      <ul>
        <li>
          Access to this deeply impactful course by Amanda Diekman on-demand for one year.
        </li>
        <li>
          An invitation to reflect on your learning with LPT Parents Content Coordinator, Dr. Daniella Boyd.  Discussion groups will be held on October 12 and December 7th  at 3PM ET and will last between 60 and 90 minutes. Because these will be deeply personal, no recorded replay will be available.
        </li>
        <li>
          A one hour LIVE Q&A session with Amanda Diekman on November 16th at 1PM PT / 2PM MT / 3PM CT / 4PM ET. You are welcome to submit your questions in advance if you can’t make it, and we’ll ask them to her during the session. You’ll have access to the recording of this live Q&A for a year.
        </li>
        <li>
          A parent and caregiver community of support, where you will be connected to other caregivers to share your wins, ask pressing questions, process your challenging moments, and find likeminded caregivers of neurodivergent and disabled kids!
        </li>
      </ul>
    </div>

    <div class="button-holder">
      <a href="{{layout.sale_link}}" target="_blank">
        <button class="outline">
          You belong here
        </button>
      </a>
    </div>

    <hr style="margin: 3rem auto; width: 200px;" />

    <div class="instructors">
      {% include_relative community/_amanda.html %}
      {% include_relative community/_daniella.html %}
    </div>

    <div class="content narrow">
      <hr style="margin: 3rem auto; width: 200px;" />
      <p>
        Imagine how much time and energy it would take for you to find a community that understands what your child needs when they are in distress. You need people on the same learning and parenting journey as you and your family, but there’s simply never enough time to find them.
      </p>
      <p>
        We want you to be deeply and effortlessly connected to the people you can ask questions to, lean on, and build accountability with. This is important work, and we are all here waiting for you.
      </p>
      <p>
        Each of these items individually would add up to a value of <b>$400</b>, but we want to make it more accessible for you and your family, while still honoring the time and expertise of our instructors and facilitators.
      </p>
      <p>
        You can join the LPT Caregiver Learning Community Fall 2025 cohort for <b>$180</b>, or <b>three payments of $60</b>. If you've previously purchased Amanda's Distress course, you'll find an option to purchase the community for $51 at checkout.
      </p>
      <p style="text-align:center;">
        <i>No parent should have to do this journey alone.</i>
      </p>

      <div class="button-holder">
        <a href="{{layout.sale_link}}" target="_blank">
          <button class="outline">
            You belong here
          </button>
        </a>
      </div>
    </div>

    <hr style="margin: 3rem auto; width: 200px;" />

    {% include_relative community/_faqs.html %}
  </div>
</div>
