---
layout: default
---
<div class="container summit summit-{{page.year}}">
  <div class="header">
    <h1>{{ page.title }} </h1>
    <h3>{{page.subtitle}} </h3>
  </div>


  <div class="blue-header">
    <div class="content">
      <p>
        You most likely landed here because you are a caregiver navigating the ins-and-outs of daily life with your Autistic child. You care deeply about your child’s well being. You want to honor their authentic ways of existing in the world. And you want strategies that bring more ease to your family’s daily routines.
      </p>
      <p>
        Grab your favorite mug and join your new community of affirming caregivers.
      </p>
      <hr />
      <p>
        For two weeks, we’ll share strategies for neurodiversity-affirming parenting that you can learn on a 20 minute coffee break (or a tea break late at night after the kids are asleep!). Served with a splash of strength-based approaches, a heavy pour of your child’s passions, and plenty of space for all of the things that feel hard in this world.
      </p>
      <p>
        Pour a cup of your favorite morning beverage and settle in for 20 transformational minutes each day from an unparalleled and neurodiverse panel of presenters.
      </p>
    </div>
    <img src="/assets/images/trainings/summit-2024/writing.jpg" alt="Writing at a table">
  </div>

  {{ content }}
</div>
